paymentsgateway-api/Connected Services/Service_WBPayments_Reference/Service_WBPayments_Logic2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53668/Service_WBPayments_Logic.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WBPayments_Logic" />
  <xs:element name="CreatePayment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WBPayments_Logic" minOccurs="0" name="createPaymentObject" nillable="true" type="q1:CreatePaymentObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePaymentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WBPayments_Logic" minOccurs="0" name="CreatePaymentResult" nillable="true" type="q2:ReturnObjectOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmPayment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WBPayments_Logic" minOccurs="0" name="confirmPaymentObject" nillable="true" type="q3:ConfirmPaymentObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmPaymentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WBPayments_Logic" minOccurs="0" name="ConfirmPaymentResult" nillable="true" type="q4:ReturnObjectOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateCredentials">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateCredentialsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WBPayments_Logic" minOccurs="0" name="ValidateCredentialsResult" nillable="true" type="q5:ReturnObjectOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>